* { box-sizing: border-box; }

body{
  background-color: #fffeea;
  color: #34495e;
}

.container {
  margin: 0 auto;
  width: 80%
}

.header h1{
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
}

.personal-info {
  background-image: url("./../img/contact-frame.png");
  background-repeat: no-repeat;
  background-size: 400px 425px;
  background-position: center;
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.info {
  display: inline-block;*/
}
